type recovery_exec, exec_type, file_type;

# Basic property sets
set_prop(recovery, system_radio_prop)

# Vibrator
allow recovery sysfs_vibrator:file { getattr open read write };

# FIFOs
allow recovery tmpfs:fifo_file { create read write unlink };
allow recovery rootfs:fifo_file unlink;

# Execute vendor binaries in recovery
allow recovery vendor_file:file { read execute getattr };
allow recovery vendor_file:dir { read open search getattr };

# Access TEE device for keymaster/gatekeeper
allow recovery tee_device:chr_file { open read write ioctl getattr };

# Access block devices for mounting
allow recovery block_device:dir { read open search getattr };
allow recovery block_device:lnk_file { read getattr };

# Allow loading modules (if you use insmod for crc32)
allow recovery kernel:system module_request;
allow recovery self:capability sys_module;

# MTP / USB
allow recovery usb_device:chr_file { read write open getattr ioctl };
allow recovery mtp_device:chr_file { read write open getattr ioctl };
