# sepolicy/recovery.te

type recovery_exec, exec_type, file_type;

set_prop(recovery, system_radio_prop)

allow recovery sysfs_vibrator:file { getattr open read write };

allow recovery tmpfs:fifo_file { create read write unlink };
allow recovery rootfs:fifo_file unlink;

allow recovery vendor_file:file { read execute getattr };
allow recovery vendor_file:dir { read open search getattr };

# tee_device is in public policy — this line is safe
allow recovery tee_device:chr_file { open read write ioctl getattr };


# allow recovery mobicore_device:chr_file { open read write ioctl getattr };
# allow recovery metadata_block_device:blk_file { read write open getattr };
# allow recovery userdata_block_device:blk_file { read write open getattr ioctl };

allow recovery block_device:dir { read open search getattr };
allow recovery block_device:lnk_file { read getattr };

allow recovery kernel:system module_request;
allow recovery self:capability sys_module;

allow recovery media_rw_data_file:dir { read write search open add_name create };
allow recovery media_rw_data_file:file { read write create open getattr };

allow recovery usb_device:chr_file { read write open getattr ioctl };
allow recovery mtp_device:chr_file { read write open getattr ioctl };
